.container {
    width: 90%;
    margin: 170px auto 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}